106DAWProyectoDAW/106LMSGIProyectoLMSGI/ud4/03/03.dtd

<!ELEMENT programmingLanguages (lenguaje)+>
<!ELEMENT lenguaje (description, example)>
<!ATTLIST lenguaje lenguaje_name CDATA #IMPLIED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT example (#PCDATA)>
<!ATTLIST programmingLanguages
xmlns:xsi CDATA #IMPLIED
xsi:noNamespaceSchemaLocation CDATA #REQUIRED>